<h1><%=@employee.full_name%></h1>

<%= image_tag(@employee.img_url) %><br>

<h2><%= @employee.dog.name%></h2>
<%=form_tag @employee, method:'delete' do %>
    <%=submit_tag "Destroy Human!"%>
<% end %>
